Source: clarity-extratools
Section: misc
Priority: extra
Maintainer: Insignary Inc. <tech@insignary.com>
Build-Depends: debhelper (>= 7.0.50~), zlib1g-dev, liblzo2-dev, liblzma-dev
Standards-Version: 3.9.1
Homepage: https://www.insignary.com/

Package: clarity-extratools
Architecture: any
Depends: liblzo2-2, zlib1g, lzma, liblz4-tool, libc6, python (>= 2.5)
Description: set of helper tools for the Clarity
 clarity-extratools is a set of helper tools for the Clarity
